<!DOCTYPE html>
<html style="height:100%;width:100%;margin:0">
  <head lang="en">
    <meta charset="UTF-8">
    <title>carl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="jobs-api-url" content="http://localhost:5001">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hint.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  </head>
  <body style="height:100%;width:100%;margin:0;">
    <!-- scripts -->
    <div id="react-app" style="height:100%;width:100%"></div>
    <script src="{{ url_for('static', filename='js/compiled/bundle.js') }}"></script>
  </body>
</html>

